/* .landingPageImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: auto;
} */

.firstImage {
  width: 800px;
}

.Button {
  width: 50%;
  margin: 10px;
  padding: 10px;
}

.Button:hover {
  cursor: pointer;
}