/* .LandingPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  width: 500px;
  height: 500px;
} */

.firstImage {
  /* margin: auto;
  width: 60%;
  padding: 10px;
  background-repeat: ; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* .blockTwo {
  width: 1800px;
  height: 700px;
  background-color: pink;
  background-size: auto;
} */

.Button {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  padding: 10px;
  padding: 50px;
  margin-bottom: 75px;
}
